.navbar{
	margin-bottom: 0px;
}
.container-fluid {
	padding-left: 0px !important;
}

.carousel {

}
#box3{
	padding-top: 50px;
	padding-bottom: 50px;
}
.portfolio-item{
	padding-bottom: 30px;
}
.title{
	text-align: center;
}
.about{
	background-color: #F3F0F0;
	/*height: 500px;*/
}
.aboutContent{
	font-size: 1.2em;
}
.embed-responsive{
	left: 6px;	
}
.message{
	padding-top: 50px;
}
.contact-form{
	padding-top: 20px;
	
}
.box{
	padding-bottom: 10px;
}