.navbar{
	margin-bottom: 0px;
}
.container-fluid {
	padding-left: 0px !important;
}

.carousel {
	padding-bottom: 10x;
}
#box3{
	padding-top: 50px;
	padding-bottom: 50px;
}
.portfolio-item{
	padding-bottom: 30px;
}